:root{
  --primary: #f393fd;
  --primary-dark: #af2cbc;
  --primary-lighten: #facaff;
  --bg: rgb(224, 217, 217);
  --shadow: 2px 0 8px rgba(0,0,0,.3);
  --corners: 4px;
  --text-color:  rgb(25, 25, 25);
  --dark:  rgb(25, 25, 25);
  --dark-lighten: #504c4c;
  --light: #fdfdfd;
  --logo-animation: 5s ease-in-out infinite;
  --logo-animation-end: translateY(-15px) rotate(1deg);
  --logo-animation-start: translateY(0px) rotate(-1deg);
  --logo-animation-type: balloon-logo-float;
  --balloon-gradient: linear-gradient(90deg, rgb(255, 169, 255) 0%, rgba(255,100,235,1) 26%, rgba(215,38,194,1) 75%, rgb(189, 45, 174) 100%);
  --balloon-animation: 5s ease-in-out infinite;
  --balloon-animation-end: translateY(-25px) rotate(5deg);
  --balloon-animation-start: translateY(0px) rotate(-5deg);
  --balloon-animation-type: balloon-float;
}

#header-box:hover {
  cursor: pointer;
}

#header-box {
  animation: var(--logo-animation-type) var(--logo-animation);
}

@keyframes balloon-logo-float{
  0%,100% {
    transform: var(--logo-animation-end);
  }
  50% {
    transform: var(--logo-animation-start);
  }
}

@keyframes balloon-logo-shake{

}

body {
  background-color: var(--bg);
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  color: var(--text-color);
}

header{
  margin: 3em 0;
}

img{
  max-width:100%;
}

form{
  margin:0;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  font-size: 14pt;
}

button{
  background-color: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary-dark);
  border-radius: var(--corners);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  transition: all .2s ease;
  cursor:pointer;
  padding:1em;
}

button:hover{
  background-color: var(--primary-dark)
}

.game-container{
  height: 300px;
}

.pump{
  margin-top: 80px;
  height: 130px;
  width: 180px;
  position:relative;
  align-self: flex-end;
}



.handle{
  height: 10px;
  width: 80px;
  background-color: var(--dark-lighten);
  position: absolute;
  top: -80px;
  left: 50px;
  display: flex;
  justify-content: center;
  transition: all .08s linear;
  z-index: 1;
}

.handle::before{
  content: " ";
  background-color: var(--dark-lighten);
  width: 10px;
  height: 80px;
  display: block;
}

.pump:active .handle{
  top: -20px;
}

.pump:hover {
  cursor: pointer;
}

.pump-box{
  background-color: var(--primary-lighten);
  height: 130px;
  width: 180px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
  user-select:none;
}
.pump-box span{
  /* background-color: antiquewhite; */
  padding: .5em;
}

.balloon {
  height: 120px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  transition: all .2s ease;
  animation: var(--balloon-animation-type) var(--balloon-animation);
  align-self: flex-end;
  margin: 0 auto;
  box-shadow: inset -10px -10px 12px rgba(0,0,0,.3);
  background: var(--balloon-gradient)}

.balloon.red{
  filter:hue-rotate(20deg);
}
.balloon.reddish{
  filter:hue-rotate(10deg);
}
.balloon.purplish{
  filter:hue-rotate(-10deg);
}
.balloon.purple{
  filter:hue-rotate(-20deg);
}

@keyframes balloon-float{
  0%,100% {
    transform: var(--balloon-animation-end);
  }
  50% {
    transform: var(--balloon-animation-start);
  }
}

@keyframes balloon-shake{
  0% {
    transform: translateX(-5px) translateY(-3px);
  }
  20% {
    transform: translateX(5px) translateY(1px);
  }
  40% {
    transform: translateX(-5px) translateY(-8px);
  }
  60% {
    transform: translateX(8px) translateY(-3px);
  }
  80% {
    transform: translateX(-8px) translateY(3px);
  }
  100% {
    transform: translateX(-5px) translateY(-3px);
  }
}

.container{
  width:50%;
  margin:auto;
}

@media screen and (max-width: 700px){
  .container{
    width: 98%;
  }
}

.card{
  background-color: var(--light);
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

.shadow{
  filter: drop-shadow(var(--shadow));
}

.bg-dark{
  background-color: var(--dark);
}
.text-light{
  color: var(--light);
}

.btn-dark{
  background-color: var(--dark-lighten);
  border-color: var(--dark);
}
.btn-dark:hover{
  background-color: var(--dark);
  border-color: var(--dark-lighten);
}

.d-flex{
  display:flex;
  align-items: center;
}
.d-flex.space-between{
  justify-content: space-between;
}
.d-flex.space-around{
  justify-content: space-around;
}

.mt-1{
  margin-top: .5em;
}
.mt-2{
  margin-top: 1em;
}
.mt-3{
  margin-top: 1.5em;
}

.mb-1{
  margin-bottom: .5em;
}
.mb-2{
  margin-bottom: 1em;
}
.mb-3{
  margin-bottom: 1.5em;
}

.text-center{
  text-align: center;
}

.hidden {
  display:none !important;
}